body {
    padding: 0;
    font-family: 'Kaushan Script', cursive;
    font-size: 62.5%;
}
.wrapper {
    max-width: 70%;
    margin: 0 auto;
    background-color: rgb(246, 238, 226);
    padding: 3rem;

}
.heading {
    display: flex;
    justify-content: start;
    
}
h1 {
    font-size: 3rem;
}
.devider {
    border: none;
    border-bottom: 0.1 rem solid rgba(225,228,237, 0.8);
}

.accordion input {
    display: none;
  }
  .accordion__item {
    padding: 1rem;
  }

  .accordion__image-container {
    display: block;
    text-align: center;
    margin: 1rem auto;
    /*картинка по центру*/
    width: 55%;
    transition: 0.5s ease;
  }
  
  
  

.accordion__title-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.5s ease;
  
}
.close {
    transform: rotate(0);
    transition: transform 0.5s ease;
  }


  .accordion__content {
    max-width: 100%;
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 10;
    transition: height 0.5s ease;
  }
  

  

  .accordion input:checked~.accordion__label>.accordion__content {
    height: 23rem;
    transition: height 0.5s ease;
  }
  
  .accordion input:checked~.accordion__label>.accordion__title {
  
    transition: color 0.9s ease;
  }

  .accordion input:active~.accordion__label>.accordion__title-close {
 
    transition: color 0.2s ease;
  }
  .accordion input:active~.accordion__label>.accordion__content {
    opacity: .5;
    transition: opacity 0.5s ease;
  }
  
  .accordion input:checked~.accordion__label>.accordion__title-close>.close {
    transform: rotate(45deg);
    transition: transform 0.9s ease, opacity 0.9s ease;
  }
  
  



    

@media all and (max-width:192rem) {
  
  
    .accordion__title-close {
        font-size:3rem;
      }
      .accordion__label {
        cursor: pointer;
      }
      .accordion__image-container {
        width: 45%;
        height: 25rem;
      }
 
       
      /*поворот плюса*/
        .accordion input:hover~.accordion__label>.accordion__title-close>.close {
          transform: rotate(45deg);
          transition: transform 0.9s ease, opacity 0.9s ease;
        }
      

          /*наведения на весь элемент*/
          .accordion input:hover~.accordion__label>.accordion__content {
            height: 22rem;
            transition: 0.5s ease;
          }
      
    }
    

    @media all and (max-width:82rem) {
    
        .accordion__title-close {
            font-size: 2rem;
          }
        
        .wrapper {
            max-width: 80%;
        }
        h1 {
            font-size: 2rem;
        }
        .accordion__image-container {
            width: 65%;
            height: 25rem;
          }
    
    }

    @media all and (max-width:60rem) {
        
        .accordion__image{
            width: 15rem;
            height: 15rem;
          }
    }

    @media all and (max-width:32rem) {
 
        .accordion__title-close {
            font-size: 1rem;
          }
        .wrapper {
            max-width: 80%;
        }
      .accordion__image{
        width: 10rem;
        height: 10rem;
      }
      
    }


  