body {
    padding: 0;
}
.wrapper {
    max-width: 70%;
    margin: 0 auto;
    background-color: rgb(246, 238, 226);
    padding: 70px;

}
.heading {
    display: flex;
    justify-content: start;
}
.devider {
    border: none;
    border-bottom: 1px solid rgba(225,228,237, 0.8);
}

/*first mem*/
label {
    cursor: pointer;
    font-size: 25px;
    padding: 10px;
}
.block-img {
    margin-top: 20px;
    transition: .5s;
    text-align: center;

}
#check_label:checked ~ .block-img {
    height: 0px;
    opacity: 0;
}


#check_label:hover ~ .block-img {
    height: 0px;
    opacity: 0;
    
}

#check_label {
    display: none;
}




/* other mems*/
.accordion-item__input, .accordion-item__input2, .accordion-item__input3 {
    opacity: 0;

}
.label-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-item__text{
 
    font-size: 25px;
    cursor: pointer;

}


.accordion-item__text:hover{
    cursor: pointer;
  
}
.accordion-item__content, .accordion-item__content2, .accordion-item__content3 {
    padding: 10px;
    border-top: none; 
    display: none;  
    text-align: center;
   
}
.plus {
    font-size: 20px;
}




.accordion-item__input:checked ~ .accordion-item__content {
    display: block;
}
.accordion-item__input2:checked ~ .accordion-item__content2 {
    display: block;
}
.accordion-item__input3:checked ~ .accordion-item__content3 {
    display: block;
}




.accordion-item__input:hover ~ .accordion-item__content {
    display: block;
}
.accordion-item__input2:hover ~ .accordion-item__content2 {
    display: block;
}
.accordion-item__input3:hover ~ .accordion-item__content3 {
    display: block;
}



@media all and (max-width:320px) {

    .wrapper {
        max-width: 80%;
    }
    .accordion-item__text{
        font-size: 10px;
    }
    label {
        font-size: 10px;
    }
    .heading  {
        font-size: 10px;
    }
    .accordion-item__img{
        height: 80px;
        width: 80px;
    }
    .accordion__img {
        height: 80px;
        width: 80px;
    }
   
@media all and (max-width:820px) {
    .wrapper {
        max-width: 80%;
    }
    .accordion-item__text{
        font-size: 15px;
    }
    label {
        font-size: 15px;
    }
    .accordion__img {
        height: 120px;
        width: 120px;
    }
}
@media all and (max-width:1920px) {
    .accordion-item__text{
        font-size: 30px;
    }
    label {
        font-size: 30px;
    }
}
}